@using System.Security.Claims
@model HCProject.Candidato.ViewModels.CurriculoViewModel
@{
    ViewData["Title"] = "Editar currículo";
    ViewData["SubTitle"] = "Edita los datos de tu currículo";
    ViewData["CardTitle"] = "Currículo";
}

<div class="row">
    <div class="col-12">
        <!-- Default Bootstrap Form Controls-->
        <div id="default">
            <div class="card mb-4">
                <div class="card-header">@ViewBag.CardTitle</div>
                <div class="card-body">

                    @if (ViewBag.Alerta != null)
                    {
                        <partial name="_Alerta" model="@ViewData["Alerta"]" />
                    }

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" hidden />

                    <!-- Nombre y visibilidad -->
                    <div class="sbp-preview mb-2">
                        <div class="sbp-preview-content">
                            <h5 class="card-title text-primary mb-3">
                                Experiencia laboral
                            </h5>
                            <form>
                                <div class="form-group">
                                    <label asp-for="Nombre"></label>
                                    <input asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="row justify-content-between">
                                    <div class="col-3">
                                        <button disabled type="button" id="cambiarNombreCurriculoBtn" class="btn btn-success btn-block">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Años experiencia -->
                    <div class="sbp-preview mb-2">
                        <div class="sbp-preview-content">
                            <h5 class="card-title text-primary mb-3">
                                Años experiencia
                            </h5>
                            <form>
                                <div class="form-group">
                                    <label asp-for="AniosExperienciaId"></label>
                                    <select asp-for="AniosExperienciaId" class="form-control" asp-items="ViewBag.AniosExperiencia"></select>
                                </div>
                                <hr />
                                <div class="row justify-content-between">
                                    <div class="col-3">
                                        <button type="submit" class="btn btn-success btn-block">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Experiencias laborales -->
                    <div class="sbp-preview mb-2">
                        <div class="sbp-preview-content">
                            <h5 class="card-title text-primary mb-2">
                                Experiencias laborales
                            </h5>
                            <div class="list-group list-group-flush small">
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-dollar-sign fa-w-9 fa-fw text-blue mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign fa-fw text-blue mr-2"></i> -->
                                    Trabajo 1
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-dollar-sign fa-w-9 fa-fw text-blue mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign fa-fw text-blue mr-2"></i> -->
                                    Trabajo 2
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-dollar-sign fa-w-9 fa-fw text-blue mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign fa-fw text-blue mr-2"></i> -->
                                    Trabajo 3
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-dollar-sign fa-w-9 fa-fw text-blue mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign fa-fw text-blue mr-2"></i> -->
                                    Trabajo 4
                                </a>
                            </div>
                            <hr />
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <button type="submit" class="btn btn-success btn-block">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Estudios superiores -->
                    <div class="sbp-preview mb-2">
                        <div class="sbp-preview-content">
                            <h5 class="card-title text-primary mb-2">
                                Estudios superiores
                            </h5>
                            <div class="list-group list-group-flush small">
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Estudio superior - Universidad 1
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Postgrado 1 - Universidad 2
                                </a>
                            </div>
                            <hr />
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <button type="button" class="btn btn-success btn-block">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Otros estudios -->
                    <div class="sbp-preview mb-2">
                        <div class="sbp-preview-content">
                            <h5 class="card-title text-primary mb-2">
                                Otros estudios
                            </h5>
                            <div class="list-group list-group-flush small">
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Curso 1
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Curso 2
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Especialización 1
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Curso 3
                                </a>
                            </div>
                            <hr />
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <button type="button" class="btn btn-success btn-block">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Idiomas -->
                    <div class="sbp-preview mb-2">
                        <div class="sbp-preview-content">
                            <h5 class="card-title text-primary mb-2">
                                Idiomas
                            </h5>
                            <div class="list-group list-group-flush small">
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Español - Nativo
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Ingles - Avanzado
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Francés - Medio
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Italiano - Básico
                                </a>
                            </div>
                            <hr />
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <button type="button" class="btn btn-success btn-block">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Habilidades técnicas -->
                    <div class="sbp-preview mb-2">
                        <div class="sbp-preview-content">
                            <h5 class="card-title text-primary mb-2">
                                Habilidades técnicas
                            </h5>
                            <div class="list-group list-group-flush small">
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Word - Avanzado
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Excel - Avanzado
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    PowerPoint - Medio
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Access - Básico
                                </a>
                            </div>
                            <hr />
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <button type="submit" class="btn btn-success btn-block">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        $("#cambiarNombreCurriculoBtn").on("click", CambiarNombreCurriculo);
        $("#Nombre").keydown(function () {
            $("#cambiarNombreCurriculoBtn").attr("disabled", false);
        });

        function CambiarNombreCurriculo() {
            let id = $("#Id").val();
            let nombre = $("#Nombre").val();
            let object = {
                "id": parseInt(id),
                "nombre": nombre
            };
            console.log(JSON.stringify(object));
            $.ajax({
                url: '/api/Curriculos/CambiarNombreCurriculo',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#cambiarNombreCurriculoBtn").attr("disabled", true);
                },
                error: function (e) {
                    console.log("No se ha podido guardar la información");
                    console.log(e);
                },
                data: JSON.stringify(object)
            });
        }
    </script>
}
