@using System.Security.Claims
@model HCProject.Candidato.ViewModels.CurriculoViewModel
@{
    ViewData["Title"] = "Editar currículo";
    ViewData["SubTitle"] = "Edita los datos de tu currículo";
    ViewData["CardTitle"] = "Currículo";
}

<div class="row">
    <div class="col-12">
        <!-- Default Bootstrap Form Controls-->
        <div id="default">
            <div class="card mb-4">
                <div class="card-header">@ViewBag.CardTitle</div>
                <div class="card-body">

                    @if (ViewBag.Alerta != null)
                    {
                        <partial name="_Alerta" model="@ViewData["Alerta"]" />
                    }

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" hidden />

                    <!-- Nombre y visibilidad -->
                    <div class="sbp-preview mb-2">
                        <div class="sbp-preview-content">
                            <h5 class="card-title text-primary mb-3">
                                Experiencia laboral
                            </h5>
                            <form>
                                <div class="form-group">
                                    <label asp-for="Nombre"></label>
                                    <input asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="row justify-content-between">
                                    <div class="col-3">
                                        <button disabled type="button" id="cambiarNombreCurriculoBtn" class="btn btn-success btn-block">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Años experiencia -->
                    <div class="sbp-preview mb-2">
                        <div class="sbp-preview-content">
                            <h5 class="card-title text-primary mb-3">
                                Años experiencia
                            </h5>
                            <form>
                                <div class="form-group">
                                    <label asp-for="Nombre"></label>
                                    <input readonly asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="row justify-content-between">
                                    <div class="col-3">
                                        <button type="button" class="btn btn-warning btn-block">Editar</button>
                                    </div>
                                    <div class="col-3">
                                        <button type="submit" class="btn btn-success btn-block">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Experiencias laborales -->
                    <div class="sbp-preview mb-2">
                        <div class="sbp-preview-content">
                            <h5 class="card-title text-primary mb-2">
                                Experiencias laborales
                            </h5>
                            <div class="list-group list-group-flush small">
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-dollar-sign fa-w-9 fa-fw text-blue mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign fa-fw text-blue mr-2"></i> -->
                                    Earnings Reports
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Average Sale Price
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-mouse-pointer fa-w-10 fa-fw text-green mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="mouse-pointer" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M302.189 329.126H196.105l55.831 135.993c3.889 9.428-.555 19.999-9.444 23.999l-49.165 21.427c-9.165 4-19.443-.571-23.332-9.714l-53.053-129.136-86.664 89.138C18.729 472.71 0 463.554 0 447.977V18.299C0 1.899 19.921-6.096 30.277 5.443l284.412 292.542c11.472 11.179 3.007 31.141-12.5 31.141z"></path></svg><!-- <i class="fas fa-mouse-pointer fa-fw text-green mr-2"></i> -->
                                    Engagement (Clicks &amp; Impressions)
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-percentage fa-w-12 fa-fw text-yellow mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="percentage" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M109.25 173.25c24.99-24.99 24.99-65.52 0-90.51-24.99-24.99-65.52-24.99-90.51 0-24.99 24.99-24.99 65.52 0 90.51 25 25 65.52 25 90.51 0zm256 165.49c-24.99-24.99-65.52-24.99-90.51 0-24.99 24.99-24.99 65.52 0 90.51 24.99 24.99 65.52 24.99 90.51 0 25-24.99 25-65.51 0-90.51zm-1.94-231.43l-22.62-22.62c-12.5-12.5-32.76-12.5-45.25 0L20.69 359.44c-12.5 12.5-12.5 32.76 0 45.25l22.62 22.62c12.5 12.5 32.76 12.5 45.25 0l274.75-274.75c12.5-12.49 12.5-32.75 0-45.25z"></path></svg><!-- <i class="fas fa-percentage fa-fw text-yellow mr-2"></i> -->
                                    Conversion Rate
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-chart-pie fa-w-17 fa-fw text-pink mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-pie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 544 512" data-fa-i2svg=""><path fill="currentColor" d="M527.79 288H290.5l158.03 158.03c6.04 6.04 15.98 6.53 22.19.68 38.7-36.46 65.32-85.61 73.13-140.86 1.34-9.46-6.51-17.85-16.06-17.85zm-15.83-64.8C503.72 103.74 408.26 8.28 288.8.04 279.68-.59 272 7.1 272 16.24V240h223.77c9.14 0 16.82-7.68 16.19-16.8zM224 288V50.71c0-9.55-8.39-17.4-17.84-16.06C86.99 51.49-4.1 155.6.14 280.37 4.5 408.51 114.83 513.59 243.03 511.98c50.4-.63 96.97-16.87 135.26-44.03 7.9-5.6 8.42-17.23 1.57-24.08L224 288z"></path></svg><!-- <i class="fas fa-chart-pie fa-fw text-pink mr-2"></i> -->
                                    Segments
                                </a>
                            </div>
                            <hr />
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <button type="submit" class="btn btn-success btn-block">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Idiomas -->
                    <div class="sbp-preview mb-2">
                        <div class="sbp-preview-content">
                            <h5 class="card-title text-primary mb-2">
                                Idiomas
                            </h5>
                            <div class="list-group list-group-flush small">
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-dollar-sign fa-w-9 fa-fw text-blue mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign fa-fw text-blue mr-2"></i> -->
                                    Earnings Reports
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple mr-2"></i> -->
                                    Average Sale Price
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-mouse-pointer fa-w-10 fa-fw text-green mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="mouse-pointer" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M302.189 329.126H196.105l55.831 135.993c3.889 9.428-.555 19.999-9.444 23.999l-49.165 21.427c-9.165 4-19.443-.571-23.332-9.714l-53.053-129.136-86.664 89.138C18.729 472.71 0 463.554 0 447.977V18.299C0 1.899 19.921-6.096 30.277 5.443l284.412 292.542c11.472 11.179 3.007 31.141-12.5 31.141z"></path></svg><!-- <i class="fas fa-mouse-pointer fa-fw text-green mr-2"></i> -->
                                    Engagement (Clicks &amp; Impressions)
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-percentage fa-w-12 fa-fw text-yellow mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="percentage" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M109.25 173.25c24.99-24.99 24.99-65.52 0-90.51-24.99-24.99-65.52-24.99-90.51 0-24.99 24.99-24.99 65.52 0 90.51 25 25 65.52 25 90.51 0zm256 165.49c-24.99-24.99-65.52-24.99-90.51 0-24.99 24.99-24.99 65.52 0 90.51 24.99 24.99 65.52 24.99 90.51 0 25-24.99 25-65.51 0-90.51zm-1.94-231.43l-22.62-22.62c-12.5-12.5-32.76-12.5-45.25 0L20.69 359.44c-12.5 12.5-12.5 32.76 0 45.25l22.62 22.62c12.5 12.5 32.76 12.5 45.25 0l274.75-274.75c12.5-12.49 12.5-32.75 0-45.25z"></path></svg><!-- <i class="fas fa-percentage fa-fw text-yellow mr-2"></i> -->
                                    Conversion Rate
                                </a>
                                <a class="list-group-item list-group-item-action" href="#!">
                                    <svg class="svg-inline--fa fa-chart-pie fa-w-17 fa-fw text-pink mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-pie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 544 512" data-fa-i2svg=""><path fill="currentColor" d="M527.79 288H290.5l158.03 158.03c6.04 6.04 15.98 6.53 22.19.68 38.7-36.46 65.32-85.61 73.13-140.86 1.34-9.46-6.51-17.85-16.06-17.85zm-15.83-64.8C503.72 103.74 408.26 8.28 288.8.04 279.68-.59 272 7.1 272 16.24V240h223.77c9.14 0 16.82-7.68 16.19-16.8zM224 288V50.71c0-9.55-8.39-17.4-17.84-16.06C86.99 51.49-4.1 155.6.14 280.37 4.5 408.51 114.83 513.59 243.03 511.98c50.4-.63 96.97-16.87 135.26-44.03 7.9-5.6 8.42-17.23 1.57-24.08L224 288z"></path></svg><!-- <i class="fas fa-chart-pie fa-fw text-pink mr-2"></i> -->
                                    Segments
                                </a>
                            </div>
                            <hr />
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <button type="submit" class="btn btn-success btn-block">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        $("#cambiarNombreCurriculoBtn").on("click", CambiarNombreCurriculo);
        $("#Nombre").keydown(function () {
            $("#cambiarNombreCurriculoBtn").attr("disabled", false);
        });

        function CambiarNombreCurriculo() {
            let id = $("#Id").val();
            let nombre = $("#Nombre").val();
            let object = {
                "id": parseInt(id),
                "nombre": nombre
            };
            console.log(JSON.stringify(object));
            $.ajax({
                url: '/api/Curriculos/CambiarNombreCurriculo',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#cambiarNombreCurriculoBtn").attr("disabled", true);
                },
                error: function (e) {
                    console.log("No se ha podido guardar la información");
                    console.log(e);
                },
                data: JSON.stringify(object)
            });
        }
    </script>
}
